web/WEB-INF/wsdl/10.10.1.27_8080/wsWeb/list_procesos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://web/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://web/">

<xs:element name="consultar_data_bd" type="tns:consultar_data_bd" />

<xs:element name="consultar_data_bdResponse" type="tns:consultar_data_bdResponse" />

<xs:element name="consultar_data_bd_prueba" type="tns:consultar_data_bd_prueba" />

<xs:element name="consultar_data_bd_pruebaResponse" type="tns:consultar_data_bd_pruebaResponse" />

<xs:complexType name="consultar_data_bd_prueba">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultar_data_bd_pruebaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultar_data_bd">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultar_data_bdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>